<h1>Reps</h1>

<% @reps.each do |rep| %>
 <div class="row" style="padding:14px;border-bottom: solid #f7f7f7 1px;">
  <div class="col">
    <div style="float:left;clear:both;width: 50%;">
      <%= rep.company %><br />
      <%= rep.name %><br />
      <em>Region</em>: <strong><%= region_names(rep.region) %></strong>
    </div>
    <div style="padding-left: 21px;">
      <%= link_to 'Show', rep %> | 
      <%= link_to 'Edit', edit_rep_path(rep) %> | 
      <%= link_to 'Destroy', rep, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>

<% end %>

<br>

<%= link_to 'New Rep', new_rep_path %>
