
<p>
  <strong>Company:</strong>
  <%= @rep.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rep.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rep.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @rep.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @rep.address3 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rep.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @rep.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rep.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @rep.website %>
</p>

<p>
  <strong>Region:</strong>
  <%= @rep.region %>
</p>

<p>
  <strong>Coverage:</strong>
  <%= @rep.coverage %>
</p>

<%= link_to 'Edit', edit_rep_path(@rep) %> |
<%= link_to 'Back', reps_path %>
