<p id="notice"><%= notice %></p>
<% title "Labor Studies" %>
<div class="row">
    <div class="col">
        <h1 style="margin-top:0;padding-top:0;">
            <%= image_tag 'neh_banner.jpg', alt: 'Labor Studies & Work', style: 'max-width:100%;' %>
        </h1>
        <%= sanitize @page.content.html_safe %>
    </div>
</div>
<div class="row" style="margin-top: 28px;">
<div class="column col-6" id="column_1">
    <% @column_1.each do |oabook| %>
    <div class="neh-book row">
    	<div class="col col-4 col-sm-3 col-md-2 col-lg-2">
        <%= link_to image_tag(oabook.cover_image.url.to_s, alt: oabook.title, style: 'height:120px;'), root_path+"open-access/labor-studies/"+oabook.id.to_s %>
      </div>
      <div class="col col-8 col-sm-9 col-md-10 col-lg-10">
        <%= link_to oabook.title, root_path+"open-access/labor-studies/"+oabook.id.to_s, class: 'oatitle' %><br>
        <% unless oabook.subtitle.nil? %>
        	<em><%= oabook.subtitle %></em><br>
        <% end %>
        <% unless oabook.author.nil? %>
        	<span style="color: #a0a0a0;"><%= oabook.author %></span><br>
        <% end %>
        <div class="oasupplemental">
	        <%= oabook.supplemental %><br>
	      </div>
      </div>
    </div>
    <% end %>
</div>
<div class="column col-6" id="column_2">
    <% @column_2.reverse.each do |oabook| %>
    <div class="neh-book row">
    	<div class="col col-3 col-lg-2">
        <%= link_to image_tag(oabook.cover_image.url.to_s, alt: oabook.title, style: 'height:120px;'), root_path+"open-access/labor-studies/"+oabook.id.to_s %>
      </div>
      <div class="col col-9 col-lg-10">
        <%= link_to oabook.title, root_path+"open-access/labor-studies/"+oabook.id.to_s, class: 'oatitle' %><br>
        <% unless oabook.subtitle.nil? || oabook.subtitle == ''%>
        	<em><%= oabook.subtitle %></em><br>
        <% end %>
        <% unless oabook.author.nil? %>
        	<span style="color: #a0a0a0;"><%= oabook.author %></span><br>
        <% end %>
        <div class="oasupplemental">
	        <%= oabook.supplemental %><br>
	      </div>
      </div>
    </div>
    <% end %>
</div>
</div>