<p id="notice"><%= notice %></p>
<style>
button {
  padding: 7px;
  border-radius: 7px;
  vertical-align: middle;
  color: #951936;
}
</style>
<div class="row">
	<div class="col col-md-3">
		<%= image_tag @oabook.cover_image.url.to_s, alt: @oabook.title %>
	</div>
	<div class="col col-md-9">
		<h2><%= title @oabook.title %></h2>
    <% unless @oabook.subtitle.nil? %>
      <p><%= @oabook.subtitle.html_safe %></p>
    <% end %>
    <% unless @oabook.edition.nil? %>
      <p><%= @oabook.edition.html_safe %></p>
    <% end %>
    <% unless @oabook.author.nil? %>
      <p><%= @oabook.author %></p>
    <% end %>
    <% unless @oabook.supplemental.nil? %>
      <p><%= @oabook.supplemental.html_safe %></p>
    <% end %>
    <% unless @oabook.description.nil? %>
      <p><%= @oabook.description.html_safe %></p>
    <% end %>
	</div>
</div>
<div class="row" style="margin-top: 21px;margin-bottom: 4px;">
  <div class="col">
    Share this book:
  </div>
</div>

<div class="row" style="margin-top: 0;">
  <div class="col-md-4">
    <div class="social-shopping">
      <p class="social-icons">
        <span class='share s_twitter'></span>
        <span class='share s_facebook'></span>
        <span class='share s_tumblr'></span>
        <span class='share s_pinterest'></span>
      </p>
    </div>
  </div>

  <div class="col text-right">
    <%= link_to "Read It Online", 
        root_path+"open-access/epub/"+@oabook.id.to_s+"/"+@oabook.epub_identifier, 
        target: "_blank", title: "Opens in New Window", class: "ebook-button" if @oabook.epub_identifier %>
    <%= link_to "Download EPUB", 
        root_path+"open-access/labor-studies/"+@oabook.id.to_s+"/epub", class: "ebook-button" %>
    <%= link_to "Download PDF", 
        root_path+"open-access/labor-studies/"+@oabook.id.to_s+"/pdf", class: "ebook-button" %>
    <%= link_to "Download MOBI", 
        root_path+"open-access/labor-studies/"+@oabook.id.to_s+"/mobi", class: "ebook-button" %>
    <%= link_to "Buy Print Copy", 
        "https://cdcshoppingcart.uchicago.edu/Cart2/Chicagobook.aspx?PRESS=temple&ISBN=#{@oabook.print_isbn}", 
        class: "ebook-button" if @oabook.pod.present? && @oabook.print_isbn.present? %>
  </div>
</div>
