<p id="notice"><%= notice %></p>
<style>
button {
  padding: 7px;
  border-radius: 7px;
  vertical-align: middle;
  color: #951936;
}
</style>
<div class="row">
	<div class="col col-md-2">
		<%= image_tag 'cover.jpg', alt: 'generic book cover' %>
	</div>
	<div class="col col-md-10">
		<h2><%= @oabook.title %></h2>
		<p><%= @oabook.description %></p>
	</div>
</div>
<div class="row" style="margin-top: 21px;margin-bottom: 4px;">
  <div class="col">
    Share this book:
  </div>
</div>

<div class="row" style="margin-top: 0;"> 
  <div class="col-md-4">
    <div class="social-shopping">
      <p class="social-icons">
        <span class='share s_twitter'></span> 
        <span class='share s_facebook'></span> 
        <span class='share s_tumblr'></span>
        <span class='share s_pinterest'></span>
      </p>
    </div>
  </div>
	
  <div class="col text-right">
    <button> <%= link_to "Read It Online", root_path+"open-access/epub/"+@oabook.id.to_s+"/"+@oabook.epub_identifier %>  </button> 
    <button> Download the epub </button>   
    <button> Download the pdf </button>  
    <button onClick="window.open('https://cdcshoppingcart.uchicago.edu/Cart/ChicagoBook.aspx?ISBN=<%= @oabook.isbn %>&&PRESS=temple');"> Print On-Demand </button>
  </div>
</div>
