<h1>Conferences</h1>

<table width="100%" cellpadding="10">
  <thead>
    <tr>
      <th>Conference</th>
      <th>Dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td width="30%" valign="top"><%= conference.conference %></td>
        <td width="50%"><%= conference.dates %></td>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>




