
<div class="container" id="conference">

	<div class="row">
		<div class="col">
			<h1><%= title "Conferences" %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col" style="padding-left: 42px;">
			<h2><%= link_to @conference.conference, @conference.link %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col offset-1">
				<ul class="list-unstyled">

					<% if !@conference.venue.blank? %>
						<li><%= @conference.venue %></li>
					<% end %>

					<li><%= @conference.location %></li>

					<li><%= @conference.dates %></li>

					<% if !@conference.booth.blank? %>
						<li><%= @conference.booth %></li>
					<% end %>

				</ul>

		</div>
	</div>

</div>