
<%= form_for(@book, :url => {:action => 'update', :id => @book.book_id}) do |book| %>
  <p>
  		<%= book.label :title %>
      <%= book.text_field :title, class: 'form-control' %>
      </p>
<p>
      <%= book.label :author %>
      <%= book.text_field :author, multiple: true, class: 'form-control' %>
      </p>
<p>
      <%= book.submit "Save changes", class: "btn btn-primary" %>
</p>
<% end %>