
<%= form_tag :action => 'update' do  %>
  <p>
  		<label for="title" />
      <%= text_field 'book', 'title', class: 'form-control' %>
      </p>
<p>
      <label for="author" %>
      <%= text_field 'book', 'author', multiple: true, class: 'form-control' %>
      <%= text_field 'book', 'in_series', multiple: true, class: 'form-control' %>
      <%= text_field 'book', 'subjects', multiple: true, class: 'form-control' %>
      </p>
<p>
      <%= submit_tag "Save changes", class: "btn btn-primary" %>
</p>
<% end %>