
  <%= form_for(book, :url => {:action => "update", :id => @book.book_id}) do |f| %>

  <p>
      <%= f.label :title %>
      <%= f.text_field :title, disabled: true %> 
  </p>
  <p>
      <%= f.label :subtitle %>
      <%= f.text_field :subtitle, disabled: true %> 
  </p>
  <p>
      <%= f.label :author %>
      <%= f.text_field :author, disabled: true %>
  </p>
  <p>
      <%= f.label :book_id_id %>
      <%= f.text_field :book_id, disabled: true %>       
  </p>
  <p>
      <%= f.label :isbn %>
      <%= f.text_field :isbn, disabled: true %>       
  </p>
  <p>
      <%= f.label :format %>
      <%= f.text_field :format, disabled: true %>       
  </p>
  <p>
      <%= f.label :binding %>
      <%= f.text_area :binding, cols: 40, rows:5, disabled: true %>       
  </p>
  <p>
      <%= f.label :intro %>
      <%= f.text_field :intro %>       
  </p>
  <p>
      <%= f.label :description %>
      <%= f.text_area :description, cols: 40, rows:5 %>       
  </p>
  <p>
      <%= f.label :excerpt %>
      <%= f.text_field :excerpt, disabled: true %>
  </p>
  <p>
      <%= f.label :award %>
      <%= f.text_field :award %>  
  </p>     
  <p>
      <%= f.label :award_year %>
      <%= f.text_field :award_year %> 
  </p>      
  <p>
      <%= f.label :catalog %>
      <%= f.text_field :catalog %>    
  </p>   
  <p>
      <%= f.label :course_adoption %>
      <%= f.text_field :course_adoption %>  
  </p>     
  <p>
      <%= f.label :highlight %>
      <%= f.text_field :highlight %>  
  </p>     
  <p>
      <%= f.label :highlight_image %>
      <%= f.text_field :highlight_image %>     
  </p>  
  <p>
      <%= f.label :is_guide %>
      <%= f.text_field :is_guide %>   
  </p>    
  <p>
      <%= f.label :cover_image %>
      <%= f.text_field :cover_image, disabled: true %>       
  </p>       
  <p>
      <%= f.label :reviews %>
      <%= f.text_area :reviews, cols: 40, rows:5, disabled: true %>       
  </p>   
  <p>
      <%= f.label :in_series %>
      <%= f.text_area :in_series, cols: 40, rows:5 %>       
  </p>   
  <p>
      <%= f.label :subjects %>
      <%= f.text_area :subjects, cols: 40, rows:5 %>  
  </p>     
  <p> 
      <strong><%= f.label :new_release %></strong><br />
      <%= f.check_box :hot %>  yes<br /><br />
      <strong><%= f.label :in_the_news %></strong><br />
      <%= f.check_box :news %> yes<br />
      <%= f.text_area :news_text, cols: 40, rows:5  %><br />
      (text for news section)
  </p>
  <p>
      <%= submit_tag "Save changes", class: "btn btn-primary" %>
  </p>
  <% end %>