<div class="row">
	<div class="col">
		<h1><%= @series.series_name %></h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<% unless @series.description.nil? %>
			<%= @series.description %>
		<% end %>
	</div>
</div>

<% @books.each do |book| %>
	<div class="row book-row">
		<div class="media">
			<%= link_to image_tag(book.cover_image, class: 'd-flex mr-3'), {controller: 'book', action: 'show', :id=>book.book_id} %>
		</div>
		<div class="media-body">
			<h2><%= link_to book.title.html_safe, :controller=>'book', :action=>'show', :id=>book.book_id %></h2>
			<% if book.subtitle %>
				<p class="subtitle"><%= book.subtitle.html_safe %></p>
			<% end %>
			<p class="author"><%= book.author_byline %></p>
			<p class="format">
			<% unless book.pages_total.nil? %>
				<%= book.pages_total %> pages<br />
			<% end %>
			<% unless book.trim.nil? %>
				<%= book.trim %><br />
			<% end %>
			<% unless book.illustrations.nil? %>
				<%= book.illustrations %><br />
			<% end %>
				<br /><br />
				<%  book.binding.each do |binding| %>
				<% if @show_status.include?(binding.fetch("binding").fetch("binding_status")) %>
					<%= binding.fetch("binding", "").fetch("format", "") %>: <%= binding.fetch("binding", "").fetch("ean", "") %> <strong><%= binding.fetch("binding", "").fetch("price", "") %></strong><br />
					<% end %>
				<% end %>
				</p>
		</div>
	</div>
<% end %>
<% if @books.nil? %>
<div class="container empty-warning">
	<div class="row">
		<div class="col text-center">
			<div class="alert alert-warning">No titles available in this series yet.</div>
		</div>
	</div>
	</div>
<% end %>
