<div class="row brochures">
	<div class="col-12 col-md-7">
		<h1>
			<%= title @catalog.title %>
		</h1>
	</div>
		<div class="col-12 col-lg-5">
			<% unless @brochures.nil? %>
				<% @brochures.each do |brochure| %>
					<%= link_to brochure.title, brochure.pdf.url, class: "text-right text-lg-left" %><br />
				<% end %>
			<% end %>
	</div>
</div>

<div class="container">
<% @books.each do |book| %>
	<div class="row book-row">
		<div class="media">
			<%= link_to image_tag(book.cover_image, class: 'd-flex mr-3'), {controller: 'book', action: 'show', :id=>book.book_id} %>
		</div>
		<div class="media-body">
			<h2><%= link_to book.title.html_safe, :controller=>'book', :action=>'show', :id=>book.book_id %>
				<% unless book.subtitle.blank? %>
					<p class="subtitle"><%= book.subtitle.html_safe %>
				<% end %>
				<% unless book.edition.blank? %>
					<br /><%= book.edition.html_safe %>
				<% else %>
					</p>
				<% end %>
			</h2>
			<p class="author"><%= book.author_byline %></p>
			<p class="format">
			<% unless book.pages_total.nil? %>
				<%= book.pages_total %> pages<br />
			<% end %>
			<% unless book.trim.nil? %>
				<%= book.trim %><br />
			<% end %>
			<% unless book.illustrations.nil? %>
				<%= book.illustrations %><br />
			<% end %>
				<br /><br />
				<%  book.binding.each do |binding| %>
				<% if @show_status.include?(binding.fetch("binding").fetch("binding_status")) %>
					<%= binding.fetch("binding", "").fetch("format", "") %>: <%= binding.fetch("binding", "").fetch("ean", "") %> <strong><%= binding.fetch("binding", "").fetch("price", "") %></strong> <%= binding.fetch("binding").fetch("pub_date_for_format", "") %><br />
					<% end %>
				<% end %>
			</p>
		</div>
	</div>
<% end %>
</div>