<div class="container">
<h1>Books</h1>
<% @books.each do |book| %>
	<div class="row">
		<div class="col-md-2" style="text-align:center;">
			<img style="width: 120px;" src="<%= book.cover_image %>">
		</div>
		<div class="col-md-10">
			<h2><%= book.title %></h2>
			<% if book.subtitle %>
				<p><%= book.subtitle %></p>
			<% end %>
			<p class="author"><%= book.author.map { |author| author }.join(' and ') %></p>
			<p style="font-size: 65%;">
				<%= book.format.html_safe %>
				<br />
				<%  book.binding.each do |binding| %>
					<%= binding[:type] %> <%= binding[:ean] %>
					<% end %>
				</p>
		</div>
	</div>
<% end %>
</div>