<%= social %>
<div class="container" id="book_show">
<div class="row">
	<div class="col col-8">
		<h1 class="book_title"><%= @book.title.html_safe %> 
			<% unless @book.subtitle.nil? %>
				<br /><small><em><%= @book.subtitle.html_safe %></em></small> 
			<% end %>
			<% unless @book.edition.nil? %>
				<br /><small><em><%= @book.edition %></em></small> 
			<% end %>
		</h1>

	<div class="row">
		<div class="col author">
			<%= @book.author_byline %><%= @book.supplement %>
		</div>
	</div>
	</div>
	<div class="col-4 col-sm-text-left">
		<div class="social-shopping">
			<% if ['IP','NP'].include? @book.status %>
			<p class="text-center buy-it">
				<%= link_to image_tag('cart.gif', alt: 'shopping cart icon'), "https://cdcshoppingcart.uchicago.edu/Cart2/ChicagoBook.aspx?ISBN="+get_isbn().to_s+"&&PRESS=temple" %>
				&nbsp;&nbsp;
				<%= link_to "Add to Cart", "https://cdcshoppingcart.uchicago.edu/Cart2/ChicagoBook.aspx?ISBN="+get_isbn().to_s+"&&PRESS=temple", :class=>"buy-it-text" %>
			</p>
			<% end %>
			<p class="text-right social-icons">
				<span class='share s_twitter'></span>
				<span class='share s_facebook'></span>
				<span class='share s_tumblr'></span>
				<span class='share s_linkedin'></span>
				<span class='share s_pinterest'></span>
			</p>
		</div>
	</div>
</div>

<% unless @book.award.blank? %>	
<div class="row">
	<div class="col award" style="margin-top: 10px;">					
			<%= (@book.award).html_safe %>
			<% unless @book.award2.blank? %>
				<%= ("<br />"+@book.award2).html_safe %>
			<% end %>
			<% unless @book.award3.blank? %>
				<%= ("<br />"+@book.award3).html_safe %>
			<% end %>
			<% unless @book.award4.blank? %>
				<%= ("<br />"+@book.award4).html_safe %>
			<% end %>
	</div>
</div>
<% end %>

<div class="row no-gutters book-info">
	<div class="col col-5 col-lg-3">
		<% unless @book.cover_image.url.blank? %>
		<% if @book.cover_image.url.include?(".jpg") || @book.cover_image.url.include?(".jpeg") || @book.cover_image.url.include?(".png") || @book.cover_image.url.include?(".gif")%>
			<%= image_tag @book.cover_image.url, alt: "Book Cover" %>
			<% end %>
		<% end %>
	</div>
	<div class="col col-7 col-lg-3">
		<div class="format">
			<% @book.binding.each do |binding| %>
			
			<% if @show_status.include?(binding.fetch("binding").fetch("binding_status")) %>
			<p class="format">
				<%= binding.fetch("binding", "").fetch("format", "") %>: <strong><%= binding.fetch("binding").fetch("price", "") %></strong>
				<br />
				EAN: <%= binding.fetch("binding").fetch("ean", "") %><br />
				Publication: <%= binding.fetch("binding", "").fetch("pub_date_for_format", "") %> <br /> <br />
			<% end %>
			<% end %>
			<% unless @book.pages_total.nil? %>
				<%= @book.pages_total %> pages<br />
			<% end %>
			<% unless @book.trim.nil? %>
				<%= @book.trim %><br />
			<% end %>
			<% unless @book.illustrations.nil? %>
				<%= @book.illustrations %><br />
			<% end %>
			</p>
		</div>
	</div>

	<div class="col col-12 col-lg-6">
		<% unless @book.blurb.nil? %>
			<%= @book.blurb.html_safe %>
		<% end %>
		
	<% unless @book.excerpt.file.nil? %>
				<%= link_to @book.excerpt_text, @book.excerpt.url  %>
	<% end %>
	<% unless @book.is_guide.file.nil? %>
				<br /><%= link_to "Curriculum/Study Guide Available [pdf]", @book.is_guide.url  %>
	<% end %>
			<% unless @book.suggested_reading.file.nil? %>
				<br /><%= link_to "Suggested Reading List [pdf]", @book.suggested_reading.url %>
			<% end %>
	</div>
</div>

<% unless @book.description.blank? %>
	<div class="row">
		<div class="col">
			<h2>Description</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col description">
			<%= @book.description.html_safe %>
		</div>
	</div>
<% end %>

<% if @reviews.count > 1 %>
		<div class="row">
			<div class="col">
				<h2>Reviews</h2>
			</div>
		</div>

		<% #@reviews[1..-1].each do |review| %>
		<% @reviews.each do |review| %>
			<div class="row">
				 <div class="col review">
				 	<%= review.review.html_safe %>
				 </div>
			</div>
		<% end %>
	<% end %>

	<% unless @book.contents.blank? %>
		<div class="row">
			<div class="col">
				<h2>Table of Contents</h2>
			</div>
		</div>
	<div class="row">
		<div class="col contents">
			<%= @book.contents.html_safe %>
		</div>
	</div>
	<% end %>

	<% if @book.about_author.present? %>
		<div class="row">
			<div class="col">
				<h2>About the Author(s)</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			 <div class="about_author">
			  <% if !@book.about_author.blank? %>
				 	<%= @book.about_author.html_safe %><br />
				<% end %>
			 </div>
		</div>
		</div>
	<% end %>

	<% unless @subjects.blank? %>
	<% unless @subjects.first['subject']['subject_id'].nil? %>
	<div class="row">
		<div class="col">
			<h2>Subjects</h2>
		</div>
	</div>
	<div class="row subjects-group">
		<% @subjects.each do |subjects| %>
			<% unless subjects.all? &:blank? %>
				<% subjects.each do |subject,info| %>
					<div class="col-md-4 list-group-item">
						 <%= link_to info['subject_title'], {controller: "book", action: "bysubject", id: info['subject_id']} %>
					</div>
				<% end %>	
			<% end %>
		<% end %>
	</div>
	<% end %>
	<% end %>
	


	<% if @series.first %><!-- if series -->
	<div class="row">
	<div class="col">
		<h2>In the Series</h2>
		<ul class="list-unstyled list-inline series">
		<% @series.each do |series| %>
		 <li class="list-inline-item">
		 	<p class="series-title">
		 		<%= link_to series.series_name, {controller: "book", action: "byseries", id: series.series_code} %>
		 		<% if !series.editors.empty? %>
			 		<span class="editors">edited by <%= series.editors %></span>
			 	<% end %>
		 	</p>
		 	<% unless series.description.nil? %>
		 		<p class="series-description">
		 			<%= series.description.html_safe %>
		 		</p>
		 	<% end %>
		 </li>
		<% end %>
		</div>
	</div>
	<% end %>
</div>
