<%= social %>
<div class="container" id="book_show">
<div class="row">
	<div class="col col-md-8">
		<h1 class="book_title"><%= @book.title %>
			<% unless @book.subtitle.empty? %>
				<br /><small><em><%= @book.subtitle %></em></small>
			<% end %>
		</h1>

	<div class="row">
		<div class="col author">
			<%= @book.author.map { |author| author }.join(' and ') %>
		</div>
	</div>
	</div>
	<div class="col-md-4">
		<div class="social-shopping">
			<p class="text-center buy-it">
				<%= link_to image_tag('cart.gif', alt: 'shopping cart icon'), "https://cdcshoppingcart.uchicago.edu/Cart/ChicagoBook.aspx?ISBN="+@book.isbn+"&&PRESS=temple" %>
				&nbsp;&nbsp;
				<%= link_to "Add to Cart", "https://cdcshoppingcart.uchicago.edu/Cart/ChicagoBook.aspx?ISBN="+@book.isbn+"&&PRESS=temple", :class=>"buy-it-text" %>
			</p>
			<p class="text-right social-icons">
				<span class='share s_twitter'></span>
				<span class='share s_facebook'></span>
				<span class='share s_tumblr'></span>
				<span class='share s_linkedin'></span>
				<span class='share s_pinterest'></span>
			</p>
		</div>
	</div>
</div>

<div class="row no-gutters book-info">
	<div class="col col-md-3">
		<%= image_tag @book.cover_image, alt: "Book Cover" %>
	</div>
	<div class="col col-md-3">
		<div class="format">
			<% @book.binding.each do |binding| %>
			<%# require 'pry'; binding.pry %>
			<p class="format">
				<%= binding["binding"]["format"] %>: <strong><%= number_to_currency(binding["binding"]["price"]) %></strong>
				<br />
				EAN: <%= binding["binding"]["ean"] %><br />
				Publication: <%= binding["binding"]["pub_date_for_format"] %> <br /> <br />
			<% end %>
			<%= @book.format.html_safe %>
			</p>
		</div>
	</div>
	<div class="col col-md-6">
		<p><%= @book.reviews.first.html_safe %></p>
	</div>
</div>

	<div class="row" style="visibility:hidden;">
		<div class="col">
			<h2 style="padding:0;margin:0;height:4px;">Description</h2>
		</div>
	</div>
	<div class="row">
		<div class="col description">
			<%= @book.description.html_safe %>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>Reviews</h2>
		</div>
	</div>
	<div class="row">
		<% @book.reviews.each do |review| %>
		 <div class="col review">
		 	<%= review.html_safe %>
		 </div>
		<% end %>
	</div>
	<div class="row">
		<div class="col">
			<h2>About the Author(s)</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
		 <div class="about_author">
		<% @book.about_author.each do |about| %>
		 	<%= about.html_safe %><br />
		<% end %>
		 </div>
	</div>
	</div>
	<% if @subjects.first %>
	<div class="row">
		<div class="col">
			<h2>Subjects</h2>
		</div>
	</div>
	<div class="row subjects-group">
		<% @subjects.each do |subject| %>
			<div class="col-md-4 list-group-item">
				 <%= link_to subject.subject, {controller: "book", action: "bysubject", id: subject.subject_id} %>
			</div>
		<% end %>
	</div>
	<% end %>

	<% if @series.first %><!-- if series -->
	<div class="row">
	<div class="col">
		<h2>In the Series</h2>
		<ul class="list-unstyled list-inline series">
		<% @series.each do |series| %>
		 <li class="list-inline-item">
		 	<p class="series-title">
		 		<%= link_to series.series, {controller: "book", action: "byseries", id: series.series_id} %>
		 		<% if !series.editors.empty? %>
			 		<span class="editors">edited by <%= series.editors %></span>
			 	<% end %>
		 	</p>
		 	<p class="series-description"><%= series.description %></p>
		 </li>
		<% end %>
		</div>
	</div>
	<% end %>
</div>
