<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, :style => 'vertical-align:top;' %>
    <%= f.text_area :description, :cols => 95, :rows => 3 %>
  </div>

  <div class="field">
    <%= f.label :where %>
    <%= f.text_field :where, :size => 100 %>
  </div>

  <div class="field">
    <%= f.label :startdate %>
    <%= f.date_select :startdate %>
  </div>

  <div class="field">
    <%= f.label :enddate %>
    <%= f.date_select :enddate %>
  </div>


  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :time,  {ampm: true, :default => {:hour => '00', :minute => '00'}} %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_select :endtime,  {ampm: true, :default => {:hour => '00', :minute => '00'}} %>
  </div>

  <div class="field">
    <%= f.label :timezone %>
    <%= f.select :timezone, options_for_select(time_zones, 'EST'), html: {selected: true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
