<div class="container" id="calendar">
  <div class="row">
    <div class="col">
      <h1>Calendar of Events 
      <span style="float:right;">
        <small>
        <form action="/calendar" method="get">
          <%= select_tag 'month', options_for_select(set_month {|p| [ p.name, p.id ] }, params[:month]) %>
          <%= select_tag 'year', options_for_select(year_list {|p| [ p.name, p.id ] }, params[:year]) %>
          <%= submit_tag 'go' %>
        </form>
        </small>
      </span>
      </h1>
    </div>
  </div>

<% if !@events.blank? %>
  <div class="row">
    <div class="col">
      <h2><%= @events.first.startdate.strftime('%B, %Y') %></h2>
    </div>
  </div>
  <% @events.each do |e| %>
  <div class="row">
    <div class="col col-md-2 text-center" style="border-bottom:solid #aaa 1px;background-color:#f7f7f7;padding-top:10px;">
      <p style="line-height:1;">
      <strong><%= e.startdate.strftime('%b %d') %></strong>
      <% unless e.enddate.strftime('%d') == e.startdate.strftime('%d') %>
      - <strong><%= e.enddate.strftime('%d') %></strong>
      <% end %>
      <% unless e.time.strftime('%l:%M %p') == '12:00 AM' %>
      <p><small><%= e.time.strftime('%l:%M %p') %>

      <% unless e.endtime.blank? || e.endtime.strftime('%l:%M %p') == '12:00 AM' %>
      to <%= e.endtime.strftime('%l:%M %p') %>
      <% end %>
      <% unless e.timezone == 'EST' %>
        <br />[<%= e.timezone %>]
        <% end %>
      <% end %>
      </small></p>
      </p>
    </div>
    <div class="col col-md-10" style="border-bottom: solid #ccc 1px;padding-top: 7px">
      <p><%= e.description.html_safe %></p>
      <p><em>Where</em>: <%= e.where.html_safe %></p>
    </div>
  </div>

  <% end %>
  <% else %>
  <div class="row">
    <div class="col text-center">
      <span style="display:inline-block;margin-top: 28px;padding:14px;background-color: #f7f7f7;">No events match the selected month.</span>
    </div>
  </div>
<% end %>


</div>
