<p id="notice"><%= notice %></p>

<h1>Events <span style="float:right;font-size:80%;"><%= link_to 'New Event', new_event_path %></span></h1>


<table cellpadding="4">
  <thead>
    <tr style="background-color:#f7f7f7;padding: 10px">
      <th width="10%">Date</th>
      <th width="10%">Time</th>
      <th width="50%">Description</th>
      <th width="30%">Where</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr valign="top">
        <td><%= event.startdate.strftime('%b %d') %></td>
        <td>
        <% unless event.time.strftime('%l:%M %p') == '12:00 AM' %>
          <%= event.time.strftime('%l:%M %p') %> <small>[<%= event.timezone %>]</small>
        <% end %>
        </td>
        <td><%= event.description.html_safe %></td>
        <td><%= event.where.html_safe %></td>
        <td>
          <%= link_to 'Edit', edit_event_path(event) %><br />
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

