<div class="row">
  <div class="col">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container" style="border:solid #ccc 1px;border-radius: 7px;padding: 21px;">
<div class="row">
  <div class="col col-md-10 offset-md-1">
  <%= @page.content.html_safe %>
  </div>
</div>
<div class="row" style="margin-top: 28px;">
<div class="col col-md-8 offset-md-2">
<div id="contactform">
<%= simple_form_for(@form) do |f| %>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:name, "Name:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :name, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:email, "Email:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :email %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:comments, "Comments:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :comments, size: "48x6", as: :text %>
    </div>
  </div>
  
<div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:address_line_1, "Address Line 1:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :address_line_1, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:address_line_2, "Address Line 2:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :address_line_2 %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:city, "City:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :city, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:state, "State:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :state, collection: options_for_select(us_states), required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:zipcode, "Zip/Post Code:") %>
    </div>
    <div class="col col-md-9">
      <%= f.input_field :zipcode, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:country, "Country (if not US):") %>
    </div>
    <div class="col col-md-9">
      <%= f.input :country, as: :string, label: false %>
    </div>
  </div>

  <div class="form-group row new-section">
    <div class="col col-md-9 offset-md-2">
      <%= f.input :send_ecatalog, as: :boolean, checked_value: true, unchecked_value: false, label: "Send me an e-catalog" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-9 offset-md-2">
      <%= f.input :send_print_catalog, as: :boolean, checked_value: true, unchecked_value: false, label: "Send me a printed catalog and add my name to the mailing list" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-9 offset-md-2">
      <%= f.input :remove_from_mailing, as: :boolean, checked_value: true, unchecked_value: false, label: "Remove my name from the mailing list" %>
      <%= f.input :mailing_type, as: :text, id: 'removemailertype', placeholder: "Please describe the mailing piece you received", label: false %>
    </div>
  </div>

  <div class="form-group row" id="newsletters">
    <div class="col col-md-9 offset-md-2">
      <%= f.input :send_newsletter, as: :boolean, checked_value: true, unchecked_value: false, label: "Send me e-newsletters about new books and special offers" %>
      <div id="mailersubjects" class="col" style="display:block;">
        <p>My preferred subjects of interest are:</p>
        <%= f.input :newsletter_type, collection: [
                                                  ['All Subjects', 'All'],
                                                  ['African American Studies', 'African American Studies'],
                                                  ['Aging', 'Aging'],
                                                  ['American Studies', 'American Studies'],
                                                  ['Animals and Society', 'Animals and Society'],
                                                  ['Anthropology', 'Anthropology'],
                                                  ['Art and Photography', 'Art and Photography'],
                                                  ['Asian American Studies', 'Asian American Studies'],
                                                  ['Asian Studies', 'Asian Studies'],
                                                  ['Biography', 'Biography'],
                                                  ['Business/Economics', 'Business/Economics'],
                                                  ['Children\'s Books', 'Children\'s Books'],
                                                  ['Cinema Studies', 'Cinema Studies'],
                                                  ['Community Organizing', 'Community Organizing'],
                                                  ['Cultural Studies', 'Cultural Studies'],
                                                  ['Death and Dying', 'Death and Dying'],
                                                  ['Disability Studies', 'Disability Studies'],
                                                  ['Education', 'Education'],
                                                  ['Family Policy', 'Family Policy'],
                                                  ['Gender Studies', 'Gender Studies'],
                                                  ['General Interest', 'General Interest'],
                                                  ['Geography', 'Geography'],
                                                  ['Health and Health Policy', 'Health and Health Policy'],
                                                  ['History', 'History'],
                                                  ['Immigration Studies', 'Immigration Studies'],
                                                  ['Jewish Studies', 'Jewish Studies'],
                                                  ['Labor Studies and Work', 'Labor Studies and Work'],
                                                  ['Latin/Caribbean Studies', 'Latin/Caribbean Studies'],
                                                  ['Latino/a Studies', 'Latino/a Studies'],
                                                  ['Law and Criminology', 'Law and Criminology'],
                                                  ['Literature and Drama', 'Literature and Drama'],
                                                  ['Mass Media and Communications', 'Mass Media and Communications'],
                                                  ['Music and Dance', 'Music and Dance'],
                                                  ['Nature and the Environment', 'Nature and the Environment'],
                                                  ['Philadelphia Region', 'Philadelphia Region'],
                                                  ['Philosophy and Ethics', 'Philosophy and Ethics'],
                                                  ['Political Science and Public Policy', 'Political Science and Public Policy'],
                                                  ['Psychology', 'Psychology'],
                                                  ['Race and Ethnicity', 'Race and Ethnicity'],
                                                  ['Religion', 'Religion'],
                                                  ['Science', 'Science'],
                                                  ['Sexual Identity', 'Sexual Identity'],
                                                  ['Sociology', 'Sociology'],
                                                  ['Sports', 'Sports'],
                                                  ['Technology', 'Technology'],
                                                  ['Urban Studies', 'Urban Studies'],
                                                  ['Women\'s Studies', 'Women\'s Studies'],
                                                  ['Youth Studies', 'Youth Studies']
                                                ], input_html: { size: 7, multiple: true }, 
                                                    label: false, 
                                                    hint: "(use the CTRL/CMD key to select multiple subjects)" %>
      </div>
    </div>
  </div>


    <div class="nickname">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>

  <div class="form-group row">
    <div class="col col-md-9 offset-md-2 new-section">
      <%= f.input 'subject', input_html: { value: 'Contact Form'}, as: :hidden %>
      <%= f.input 'type', input_html: { value: 'contact'}, as: :hidden %>
      <%= f.button :submit, value: "Submit", class: 'btn-primary' %>
    </div>
  </div>

<% end %>
</div>
<div id="formfooter" style="margin-top: 42px;">
  <div class="col">
    <%= @page.content2.html_safe %>
  </div>
</div>
</div>
</div>
</div>
