
  <div class="row">
  <div class="col">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container" style="border:solid #ccc 1px;border-radius: 7px;padding: 21px;">
<div class="row">
  <div class="col col-md-10 offset-md-1">
  <%= @page.content.html_safe %>
  </div>
</div>
<div class="row" style="margin-top: 28px;">
<div class="col col-md-8 offset-md-2">
<div id="contactform">
<%= form_tag("http://www.temple.edu/cgi-bin/mail?tempress@temple.edu", method: "post", :class=>"contact-form") do %>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:name, "Name:") %>
    </div>
    <div class="col col-md-9">
      <%= text_field_tag(:name, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:email, "Email:") %>
    </div>
    <div class="col col-md-9">
      <%= text_field_tag(:email, '', :class=>'form-control') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:comments, "Comments:") %>
    </div>
    <div class="col col-md-9">
      <%= text_area_tag(:comments, "", size: "48x6", :class=>'form-control') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:address1, "Address Line 1:") %>
    </div>
    <div class="col col-md-9">
      <%= text_field_tag(:address1, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:address2, "Address Line 2:") %>
    </div>
    <div class="col col-md-9">
      <%= text_field_tag(:address2, '', :class=>'form-control') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:city, "City:") %>
    </div>
    <div class="col col-md-9">
      <%= text_field_tag(:city, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:state, "State:") %>
    </div>
    <div class="col col-md-9">
      <%= select_tag :state, options_for_select(us_states), :class=>'form-control', :required => true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:zipcode, "Zip/Post Code:") %>
    </div>
    <div class="col col-md-9">
      <%= text_field_tag(:zipcode, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= label_tag(:country, "Country (if not US):") %>
    </div>
    <div class="col col-md-9">
      <%= text_field_tag(:country, '', :class=>'form-control') %>
    </div>
  </div>

  <div class="form-group row new-section">
    <div class="col col-md-9 offset-md-2">
      <%= check_box_tag(:ecatalog) %>
      <%= label_tag(:ecatalog, "Send me an e-catalog") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-9 offset-md-2">
      <%= check_box_tag(:printcatalog) %>
      <%= label_tag(:printcatalog, "Send me a printed catalog and add my name to the mailing list") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-9 offset-md-2">
      <%= check_box_tag(:removemailer) %>
      <%= label_tag(:removemailer, "Remove my name from the mailing list", :id => 'removemailer') %>
      <%= text_field_tag(:removemailer, '', :id=>'removemailertype', :placeholder=>"Please describe the mailing piece you received") %>
    </div>
  </div>
  <div class="form-group row" id="newsletters">
    <div class="col col-md-9 offset-md-2">
      <%= check_box_tag(:addmailer) %>
      <%= label_tag(:addmailer, "Send me e-newsletters about new books and special offers") %>
      <div id="mailersubjects" class="col" style="display:block;">
        <p>My preferred subjects of interest are:</p>
        <%= select_tag :addmailer, options_for_select(mailers), :size=>7, :multiple => true %>
        <div style="font-size:smaller;">(use the CTRL/CMD key to select multiple subjects)</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col col-md-9 offset-md-2 new-section">
      <%= hidden_field_tag 'subject', 'Contact' %>
      <%= hidden_field_tag 'next-url', request.base_url+root_path+'contact' %>
      <%= submit_tag("Submit") %>
      <%= button_tag "Reset", type: :button, :id=>"reset" %>
    </div>
  </div>

<% end %>
</div>
<div id="formfooter" style="margin-top: 42px;">
  <div class="col">
    <%= @page.content2.html_safe %>
  </div>
</div>
</div>
</div>
</div>