<div class="container" id="home">
  <div class="row">
  <div class="col-md-9" style="margin-top: 14px;">
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <% @highlights.each_with_index do |highlight, index| %>
      <% if index == 1 %>
        <li data-target="#carouselIndicators" data-slide-to="<%= index %>" class="active"></li>
      <% else %>
        <li data-target="#carouselIndicators" data-slide-to="<%= index %>"></li>
      <% end %>
    <% end %>
    </ol>
    <div class="carousel-inner" role="listbox">
    <% @highlights.each_with_index do |highlight, index| %>
    <% if index == 1 %>
      <div class="carousel-item active">
    <% else %>
      <div class="carousel-item">
    <% end %>
        <%= link_to image_tag(highlight.highlight_image, class: 'd-block img-fluid', alt: 'cover for '+highlight.title), controller: 'book', action: 'bysubject', id: highlight.book_id %>
      </div>
    <% end %>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>
<div class="col-md-3 no-padding">
<div id="scBlogContent">
  <%= link_to image_tag('visit.gif', alt: "North Philly Notes"), "http://templepress.wordpress.com", :class=>"blog-icon" %>
  <p><% @entries.take(1).each do |entry| %>
      <small><%= entry.description.html_safe %><br /><br />
      <%= link_to entry.title, entry.url, style: "font-weight:600;" %></small>
      <% end %>
  </p>
</div>
<div id="follow-us">
 <ul class="list-inline">
    <li class="list-inline-item">
      <h2><small>Follow Us on:</small></h2>
    </li>
    <li class="list-inline-item">
      <%= link_to image_tag('twitter-icon.png', class: 'social-icon', alt: 'Twitter Icon'), 'http://twitter.com/TempleUnivPress' %>
    </li>
    <li class="list-inline-item"><%= link_to image_tag('fb-icon.png', class: 'social-icon', alt: 'Facebook Icon'), 'http://facebook.com/TempleUnivPress' %></li>
  </ul>
  </div>

</div>
</div>


<!-- Hot off the Press -->

<div class="row" style="margin-top:21px">
<div class="col">
<h2 style="text-transform:uppercase;letter-spacing:.45rem;display:inline-block;color:#903;font-size:185%;border: solid #903 1px;border-width: 1px 0;padding: 4px 0;text-shadow: 1px 2px #ccc;">Hot Off the Press!</h2>
</div>
</div>

<div class="row" style="margin-top: 28px;">
<% @hot_books.each do |book| %>
  <div class="col col-md-3 text-center">
    <%= link_to image_tag(book.cover_image, border: 0, style: 'height:300px;box-shadow: 6px 6px 7px #666;'), {controller: 'book', action: 'show', :id=>book.book_id} %>
    <p style="margin-top:14px;font-weight:600;"><%= book.title.html_safe %></p>
  </div>
<% end %>
</div>

<div class="row"> <!-- large-well -->
<div class="col col-md-8">
<div class="row" style="margin-top: 28px;">
  <div class="col">
    <h2 style="text-transform:uppercase;letter-spacing:.64rem;display:inline-block;color:#903;font-size:185%;border: solid #903 1px;border-width: 1px 0;padding: 4px 0;text-shadow: 1px 2px #ccc;">In the News</h2>
  </div>
</div>
<div class="row" style="padding: 14px;padding-bottom: 28px;">
<div class="col">
<% @news_books.each do |book| %>
<div class="row" style="margin-top: 28px;">
  <div class="media text-center" style="width: 160px;text-align:center">
    <%= link_to image_tag(book.cover_image, alt: 'Book Cover', border: 0, class: 'd-flex', style: 'height:180px;margin:auto;'), {controller: 'book', action: 'show', :id=>book.book_id}, :style=>'width:100%;' %>
  </div>
  <div class="media-body" style="padding-left: 28px;">
  <h2><%= link_to book.title, :controller=>'book', :action=>'show', :id=>book.book_id %>
      <% if book.subtitle %>
        <br /><small><em><%= book.subtitle %></em></small>
      <% end %>
      </h2>
      <p class="author"><%= book.author.map { |author| author }.join(' and ') %></p>
      <p style="line-height:1.2"><small><%= book.news_text.truncate(500).html_safe %></small></p>
  </div>
</div>
<% end %>
</div>
</div>

</div>



<div class="col col-md-3 offset-md-1 home-sidebar">
<div class="row" >
<div class="col">
<div class="row">
  <div class="col card">
    <h2 style="color:#903;" class="text-center">Spring 2017 Catalog</h2>
    <p class="text-center">
    <%= link_to image_tag('spring17.gif', alt: 'catalog cover', style: 'height:160px;margin:auto;'), {controller: :book, action: :catalogs_by_season, :id=>'1'} %>
    </p>
    <p class="text-center" style="color:#903;"><%= link_to '[PDF Version]', 'http://www.temple.edu/tempress/catalogs/archive/spring2017.pdf' %></p>
  </div>
</div>
<div class="row">
  <div class="col card">
    <h2 class="text-center" style="color:#903;">Books for Course Adoptions</h2>
  
  <div id="carousel2" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @adoptions.each_with_index do |adoption,index| %>
        <% if index == 0 %>
          <li data-target="#carousel2" data-slide-to="<%= index %>" class="active" style="display:none;"></li>
          <% else %>
          <li data-target="#carousel2" data-slide-to="<%= index %>" style="display:none;"></li>
        <% end %>    
      <% end %>
    </ol>

    <div class="carousel-inner" role="listbox">
      <% @adoptions.each_with_index do |adoption,index| %>
        <% if index == 0 %>
          <div class="carousel-item active text-center">
        <% else %>
          <div class="carousel-item text-center">
        <% end %>
          <%= link_to image_tag(adoption.cover_image, 
                            class: 'd-block img-fluid', 
                            alt: adoption.title), 
                            controller: 'book', 
                            action: 'show', 
                            id: adoption.book_id %>
        </div>
      <% end %>
    </div> <!-- carousel-inner -->
  </div><!-- carousel2 -->
  </div>
  </div>
<div class="row">
  <div class="col card">
    <div class="text-center">
    <h2>
    <%= link_to 'Books on the Philadelphia Region',{controller: :book, action: :bysubject, :id=>'1071'} %>
    </h2>
    <div style="margin-top: 28px;">
    <%= link_to image_tag('phila.jpg', alt: 'love sculpture in philadelphia', style: 'padding-bottom:35px;margin:auto;'), {controller: :book, action: :bysubject, :id=>'1071'}, :style=>"vertical-align:middle" %>
    </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div> <!-- container -->

<div class="row" style="margin-top: 56px;border-top:solid #eee 1px;padding-top: 28px;">
<div class="col col-md-6 offset-md-3">
<div id="scNewsletter">
      <p  style="color:#951936;">Subscribe to our monthly newsletter for info about new books and website content.</p>
        <%= form_tag "http://www.temple.edu/cgi-bin/mail?tempress@temple.edu", :method=>"post", :name=>"NewsletterSubscription", :id=>"NewsletterSubscription", :style=>"margin-top:7px;" do |f| %>
          <%= email_field_tag "email", nil, placeholder: "Enter your email..." %> 
          <%= text_field_tag "subject", "Newsletter Subscription", type: "hidden" %>
          <%= text_field_tag "next-url", "http://www.temple.edu/tempress/received_subscription.html", type: "hidden" %>
          <%= submit_tag "Subscribe!" %>
        <% end %>
</div>
</div>
</div>  
</div>











