
	<div class="row">
		<div class="col">
			<h1>Links</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="container">
				<ul>
          <li><%= link_to 'Amazon.com', "http://www.amazon.com/" %></li>
          <li><%= link_to 'American Booksellers Association', "http://www.bookweb.org/" %></li>
          <li><%= link_to 'American Library Association', "http://www.ala.org/" %> </li>
          <li><%= link_to 'American Literatures Initiative', "http://www.americanliteratures.org/" %></li>
          <li><%= link_to 'Asia Society', "http://www.asiasociety.org/" %> </li>
          <li><%= link_to "Asian American Writers\' Workshop", "http://www.aaww.org/" %></li>
          <li><%= link_to 'Association of American Publishers', "http://www.publishers.org/" %></li>
          <li><%= link_to 'Association of American University Presses', "http://aaupnet.org/" %></li>
          <li><%= link_to 'Baker &amp; Taylor', "http://www.btol.com/" %></li>
          <li><%= link_to 'Barnes &amp; Noble', "http://www.barnesandnoble.com/" %></li>
          <li><%= link_to 'Combined Academic Publishers', "http://www.combinedacademic.co.uk/default.asp" %></li>
          <li><%= link_to 'Copyright Clearance Center', "http://www.copyright.com/" %></li>
          <li><%= link_to 'Ethnomusicology Multimedia', "https://ethnomultimedia.org/index.html" %></li>
          <li><%= link_to 'Indiebound', "http://www.indiebound.org/" %></li>
          <li><%= link_to 'Ingram Book Group', "http://www.ingrambook.com/" %></li>
          <li><%= link_to 'R. R. Bowker', "http://www.bowker.com/" %> </li>
          <li><%= link_to 'Rightscenter.com', "http://www.rightscenter.com/" %></li>
          <li><%= link_to 'Society for Scholarly Publishing', "http://www.sspnet.org/" %></li>
          <li><%= link_to 'Temple University', "http://www.temple.edu/" %></li>
          <li><%= link_to 'University Press Content Consortium', "http://muse.jhu.edu/" %></li>
        </ul>
	    </div>
		</div>
	</div>







