
	<div class="row">
		<div class="col">
			<h1><%= title "Book Reviews" %></h1>
		</div>
	</div>
<% @reviews_date.each do |date, reviews| %>

	<div class="row">
		<div class="col">
			Last updated on <%= date %>
		</div>
	</div>

	<div class="row">
		<div class="col" style="padding-left: 28px;">
		<% for review in reviews %>
			<h2>
				<%= link_to review.title, :controller=>'book', :action=>'show', :id=>review.title_id %> 
				<small class="text-muted">by <%= review.author.each %></small>
			</h2>

			<div class="row">
				<div class="col">
					<blockquote class="blockquote">
						<p class="mb-0"><%= review.review.html_safe %></p>
					</blockquote>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<% end %>


