<div class="row">
  <div class="col">
    <h1><%= @page.name %></h1>
  </div>
</div>

<div class="container" style="border:solid #ccc 1px;border-radius: 7px;padding: 21px;">
<div class="row" style="margin-bottom: 42px;">
<div class="col col-md-10 offset-md-1">
<%= @page.content.html_safe %>
<div id="contactform">
<%= simple_form_for(@form) do |f| %>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= label(:name, "Name:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= text_field_tag(:name, "", :class => 'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= label(:email, "Email:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= text_field_tag(:email,'', :class => 'form-control') %>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-3">
      <%= label(:mediatype, "Media Type:") %>
    </div>
    <div class="radio col col-md-9 col-12">
      <%= f.input :mediatype, as: :radio_buttons, label: false, collection: [["Radio/TV","Radio/TV"],
                                                                            ["Magazine","Magazine"],
                                                                            ["Journal","Journal"],
                                                                            ["Newspaper","Newspaper"],
                                                                            ["Exam/Desk Copy","Exam/Desk Copy"],
                                                                            ["Other","Other"]] %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:website, "Website:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :website, label: false, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:request_text, "Request:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :request_text, as: :text, label: false, required: true, input_html: { size: "48x6" } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:address1, "Address Line 1:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :address1, label: false, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:address2, "Address Line 2:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :address2, label: false, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:city, "City:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :city, label: false, required: true %>
    </div>
  </div>
   <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:state, "State/Province/Region: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :state, label: false, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:zipcode, "Zip/Postal Code: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :zipcode, label: false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-3">
      <%= f.label(:country, "Country (if not US):") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :country, as: :string, label: false %>
    </div>
  </div>

    <div class="nickname">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    
  <div class="row">
    <div class="col col-md-9 offset-md-2 new-section">
      <%= f.input 'subject', input_html: { value: 'Review Copy Request'}, as: :hidden %>
      <%= f.input 'type', input_html: { value: 'review_copy'}, as: :hidden %>
      <%= f.button :submit, value: "Submit", class: 'btn-primary' %>
    </div>
  </div>

<% end %>
</div>
</div>
</div>
<div id="formfooter" style="margin-top: 42px;">
  <div class="col col-md-9 offset-md-1">
    <strong>Please note</strong>: all requests are indeed that—-requests. Unfortunately, we can not always honor all of them. If you think we are unfamiliar with your publication, please send a sample/tearsheets with your request. Thank you.
  </div>
</div>
</div>
