<div class="container">
	<div class="row">
		<div class="col">
			<h1>Sales Representatives</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<%= image_tag("regions.png", alt: "Map of US States") %>
		</div>
	</div>
</div>

<div class="container" style="margin-top:21px;">
	<div class="row">
		<div class="col"><h2>Northeast and Mid-Atlantic</h2></div>
	</div>
	<div class="row">
	<div class="col">
			<blockquote class="blockquote">
				<address>
					<strong>Ann-Marie Anderson</strong><br />
					Temple University Press <br />
					TASB<br />
					1852 North 10th Street<br />
					Philadelphia, PA 19122<br />
					Telephone: 215.926.2143<br />
					Fax: 215.926.2141<br />
					Email: <%= mail_to "anderson@temple.edu" %><br />
					Covers accounts in Connecticut, Maine, Maryland, Massachusetts, New Hampshire, New Jersey, New York, Pennsylvania, Rhode Island, Vermont, and Washington DC.
				</address>
			</blockquote>
		</div>
	</div>
</div>

<div class="container" style="margin-top:21px;">
	<div class="row">
		<div class="col"><h2>Midwest</h2></div>
	</div>
	<div class="row">
	<div class="col">
			<blockquote class="blockquote">
				<address>
					Miller Trade Book Marketing<br />
					<strong>Bruce Miller</strong><br />
					1426 W. Carmen Ave.<br />
					Chicago, IL 60640<br />
					Telephone: 866.829.0824<br />
					Fax: 312.276.8109<br />
					Email: <%= mail_to "bruce@millertrade.com" %><br />
					Covers accounts in IA, MN, NE, ND, SD, WI, MI, IL, OH, IN, KY, KS, MO, and Western Pennsylvania.
				</address>
			</blockquote>
		</div>
	</div>
</div>

<div class="container" style="margin-top:21px;">
	<div class="row">
		<div class="col"><h2>Southeast</h2></div>
	</div>
	<div class="row">
	<div class="col">
			<blockquote class="blockquote">
				<address>
					The Morrison Sales Group, Inc.<br />
					<strong>Don Morrison</strong><br />
					294 Barons Road<br />
					Clemmon, NC 27012<br />
					Telephone: 336.775.0226<br />
					Fax: 336.775.0239<br />
					Email: <%= mail_to "msgbooks@aol.com" %><br />
					Covers accounts in AL, FL, GA, MS, NC, SC, TN, VA and WV.
				</address>
			</blockquote>
		</div>
	</div>
</div>

<div class="container" style="margin-top:21px;">
	<div class="row">
		<div class="col"><h2>West</h2></div>
	</div>
	<div class="row">
	<div class="col">
			<blockquote class="blockquote">
				<address>
					Bob Rosenberg Group<br />
					<strong>Bob Rosenberg</strong><br />
					2318 - 32nd Avenue<br />
					San Francisco, CA 94116<br />
					Telephone: 415.564.1248<br />
					Fax: 888.491.1248<br />
					Email: <%= mail_to "bob@bobrosenberggroup.com" %><br />
					Website: <%= link_to "www.bobrosenberggroup.com" %>
					Covers accounts in CA, NV, AZ, NM, WA, OR, ID, MT, CO, WY, and AK.
				</address>
			</blockquote>
		</div>
	</div>
</div>

<div class="container" style="margin-top:21px;">
	<div class="row">
		<div class="col"><h2>Asia and the Pacific, including Australia and New Zealand</h2></div>
	</div>
	<div class="row">
	<div class="col">
			<blockquote class="blockquote">
				<address>
					East West Export Books <br />
					<strong>Royden Muranaka</strong><br />
					University of Hawaii Press<br />
					2840 Kolowalu Stree<br />
					Honolulu, HI 96822 <br />
					Telephone: 808.956.8830 <br />
					Fax: 808.988.6052<br />
					Email: <%= mail_to "eweb@hawaii.edu" %><br />
				</address>
			</blockquote>
		</div>
	</div>
</div>

<div class="container" style="margin-top:21px;">
	<div class="row">
		<div class="col"><h2>Europe, the Middle East, and Africa</h2></div>
	</div>
	<div class="row">
	<div class="col">
			<blockquote class="blockquote">
				<address>
					Combined Academic Publishers Ltd<br />
					<strong>David Pickering</strong><br />
					Windsor House, Cornwall Road<br />
					Harrogate<br />
					N. Yorks. HG1 2PW<br />
					Telephone: +44 (0)1423 526350 <br />
					Fax: 808.988.6052<br />
					Email: <%= mail_to "davidpickering@combinedacademic.co.uk" %><br />
					Website: <%= link_to "www.combinedacademic.co.uk" %>
				</address>
			</blockquote>
		</div>
	</div>
</div>

<div class="container" style="margin-top:21px;">
	<div class="row">
		<div class="col"><h2>All other areas and general sales inquiries</h2></div>
	</div>
	<div class="row">
	<div class="col">
			<blockquote class="blockquote">
				<address>
					<strong>Ann-Marie Anderson</strong><br />
					Temple University Press <br />
					TASB<br />
					1852 North 10th Street<br />
					Philadelphia, PA 19122<br />
					Telephone: 215.926.2143<br />
					Fax: 215.926.2141<br />
					Email: <%= mail_to "anderson@temple.edu" %>
				</address>
			</blockquote>
		</div>
	</div>
</div>
