<div class="row">
  <div class="col">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container" style="border:solid #ccc 1px;border-radius: 7px;padding: 21px;">
<div class="row">
  <div class="col col-md-10 offset-md-1">
  <%= @page.content.html_safe %>
  </div>
</div>
<div class="row" style="margin-top: 28px;">
<div class="col col-md-8 offset-md-2">
<div id="contactform">
<%= form_for @contact, url: page_path, :class=>"contact-form" do |f| %>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:name, "Name:") %>
    </div>
    <div class="col col-md-9">
      <%= f.text_field(:name, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:email, "Email:") %>
    </div>
    <div class="col col-md-9">
      <%= f.text_field(:email, '', :class=>'form-control') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:comments, "Comments:") %>
    </div>
    <div class="col col-md-9">
      <%= tf.ext_area(:comments, "", size: "48x6", :class=>'form-control') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:address1, "Address Line 1:") %>
    </div>
    <div class="col col-md-9">
      <%= f.text_field(:address1, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:address2, "Address Line 2:") %>
    </div>
    <div class="col col-md-9">
      <%= f.text_field(:address2, '', :class=>'form-control') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:city, "City:") %>
    </div>
    <div class="col col-md-9">
      <%= f.text_field(:city, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:state, "State:") %>
    </div>
    <div class="col col-md-9">
      <%= f.select :state, options_for_select(us_states), :class=>'form-control', :required => true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:zipcode, "Zip/Post Code:") %>
    </div>
    <div class="col col-md-9">
      <%= f.text_field(:zipcode, "", :class=>'form-control', :required => true) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-2">
      <%= f.label(:country, "Country (if not US):") %>
    </div>
    <div class="col col-md-9">
      <%= f.text_field(:country, '', :class=>'form-control') %>
    </div>
  </div>

  <div class="form-group row new-section">
    <div class="col col-md-9 offset-md-2">
      <%= f.check_box(:ecatalog) %>
      <%= f.label(:ecatalog, "Send me an e-catalog") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-9 offset-md-2">
      <%= f.check_box(:printcatalog) %>
      <%= f.label(:printcatalog, "Send me a printed catalog and add my name to the mailing list") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col col-md-9 offset-md-2">
      <%= f.check_box(:removemailer) %>
      <%= f.label(:removemailer, "Remove my name from the mailing list", :id => 'removemailer') %>
      <%= f.text_field(:removemailer, '', :id=>'removemailertype', :placeholder=>"Please describe the mailing piece you received") %>
    </div>
  </div>
  
  <div class="form-group row" id="newsletters">
    <div class="col col-md-9 offset-md-2">
      <%# f.check_box(:addmailer) %>
      <%= f.label(:addmailer, "Send me e-newsletters about new books and special offers") %>
      <div id="mailersubjects" class="col" style="display:block;">
        <p>My preferred subjects of interest are:</p>
        <%= f.input :addmailer, collection_select: options_for_select(mailers), input_html: { multiple: true } %>
        <div style="font-size:smaller;">(use the CTRL/CMD key to select multiple subject)</div>
      </div>
    </div>
  </div>
 <%= f.association :particular_users, collection: @all_users, input_html: { class: 'multiselectuser'} %>

  <div class="form-group row">
    <div class="col col-md-9 offset-md-2 new-section">
      <%= f.hidden_field 'subject', 'Contact' %>
      <%= f.submit ("Submit") %>
      <%= f.button "Reset", type: :button, :id=>"reset" %>
    </div>
  </div>

<% end %>
</div>
<div id="formfooter" style="margin-top: 42px;">
  <div class="col">
    <%= @page.content2.html_safe %>
  </div>
</div>
</div>
</div>
</div>