<div class="row">
  <div class="col">
    <h1><%# @page.name %></h1>
  </div>
</div>

<div class="container" style="border:solid #ccc 1px;border-radius: 7px;padding: 21px;">

<div class="row">
  <div class="col-10 offset-md-1">
    <p>We invite you to fill out the form below or to write on departmental letterhead for an examination copy of any paperback title you wish to consider for course adoption or request for desk copies. For examination copies, please state course title, semester, and projected enrollment. For desk copies, please provide course ID, instructor's name, projected enrollment, semester class will be taught, and the name of the bookstore that will be placing the order. All orders can be forwarded to: <%= mail_to "examcopy@temple.edu", "examcopy@temple.edu" %></p>
  </div>
</div>
<div class="row" style="margin-bottom: 42px;margin-top:21px;">
<div class="col col-md-10">
<div id="contactform">
  <%= simple_form_for(@form) do |f| %>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:name, "Name: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :name, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:email, "Email: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :email, as: :email, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:request_type, "Request Type: ") %>
    </div>
    <div class="radio col col-md-9 col-12">
       <%= f.input :request_type, as: :radio_buttons, label: false, collection: [['Desk Copy','Desk Copy'],['Exam Copy','Exam Copy']], wrapper_html: { style: 'margin-top: 10px;' } %> 
        <span style="display:block;margin:0">* <strong>Exam Copy</strong> requests are for course adoption consideration</span>
        <span style="display:block;margin:0">* <strong>Desk Copy</strong> requests are for titles that have been adopted/bookstore orders placed</span></li>
    </div>
</div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:university, "University: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :university, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:department, "Department: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :department, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:address_line_1, "Address: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :address_line_1, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:address_line_2, "Address Line 2: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :address_line_2, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:city, "City: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :city, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:state, "State/Province/Region: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :state, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:zipcode, "Zip/Postal Code: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :zipcode, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:country, "Country (if not US): ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :country, as: :string, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:instructor, "Instructor: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f. input :instructor, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:course_title, "Course Title: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :course_title, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:enrollment, "Projected Enrollment: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :enrollment, as: :integer, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:semester, "Semester Taught: ") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :semester, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <p>Book 1</p>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.label(:title1, "Title: ") %>
      <%= f.input :title1, required: true, label: false %>
    </div>
    <div class="col col-md-9 col-12 offset-md-3">
      <%= f.label(:author1, "Author: ") %>
      <%= f.input :author1, required: true, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <p>Book 2</p>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.label(:title2, "Title: ") %>
      <%= f.input :title2, label: false %>
    </div>
    <div class="col col-md-9 col-12 offset-md-3">
      <%= f.label(:author2, "Author: ") %>
      <%= f.input :author2, label: false %>
    </div>
  </div>
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <p>Book 3</p>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.label(:title3, "Title: ") %>
      <%= f.input :title3, label: false %>
    </div>
    <div class="col col-md-9 col-12 offset-md-3">
      <%= f.label :author3, "Author: " %>
      <%= f.input :author3, label: false %>
    </div>
  </div>

  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label :bookstore, "Authorized Bookstore: " %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :bookstore, label: false, hint: '(required for Desk Copy requests)' %>
    </div>
  </div>
  
  <div class="form-group row offset-md-1">
    <div class="col col-md-3">
      <%= f.label(:comments, "Comments:") %>
    </div>
    <div class="col col-md-9 col-12">
      <%= f.input :comments, as: :text, input_html: { size: "48x6" }, label: false %>
    </div>
  </div>
  
    <div class="nickname">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    
  <div class="row offset-md-3">
    <div class="col col-12 col-md-9 offset-md-1 new-section">
      <p>We allow up to three titles per course per semester.</p>
      <%= f.input 'subject', input_html: { value: 'Desk/Exam Copy Request'}, as: :hidden %>
      <%= f.input 'type', input_html: { value: 'copy_request'}, as: :hidden %>
      <%= f.input 'page_id', input_html: { value: @form.page_id}, as: :hidden %>
      <%= f.button :submit, value: "Submit", class: 'btn-primary' %>
    </div>
  </div>

<% end %>
</div>
</div>
</div>
</div>
