<% set_meta_tags description: @promotion.intro_text if @promotion.intro_text.present? %>
<% set_meta_tags description: "" unless @promotion.intro_text.present? %>

<div class="container">

  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h1 class="promotions">
      <%= title @promotion.title %> 
      <%= subject_title(params[:subject]) unless params[:subject].nil? %>
      </h1>
    </div>
    <div class="col-lg-4 col-sm-12 text-md-right">
      <div class="social-shopping">
			<p class="social-icons">
				<%= social_share_button_tag(@promotion.title) %>
			</p>
        <% unless @promotion.pdf.file.nil? || @promotion.pdf_display_name.nil? %>
        <p>
          <%= link_to @promotion.pdf_display_name, @promotion.pdf.url %> 
          <span class="pdf">[PDF]</span>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <% unless @promotion.intro_text.nil? %>
      <div class="col-12 col-lg-9 mb-4 promo_intro">
        <%= sanitize @promotion.intro_text.html_safe if @promotion.intro_text.present? %>
      </div>
    <% end %>
  </div>

  <div class="row promotion-book-list">

  <% @books.each do |book| %>
    <div class="col-sm-6 col-xl-4 text-center mb-4 mt-md-4 promotion-book">
        
      <% unless book.cover_image.url.blank? %>
      
        <% if book.cover_image.url.include?(".jpg") || book.cover_image.url.include?(".jpeg") || book.cover_image.url.include?(".png") || book.cover_image.url.include?(".gif")%>
          <%= link_to book_path(book.book_id) do %>
            <div class="image-placeholder align-middle">
            <%= image_tag book.cover_image.url, alt: "" %>
            </div>
            <p class="mx-auto pt-2 promo-book-title"><%= book.title unless book.title.nil? %></p>
          <% end %>
        <% end %>
      <% end %>

      <div class="text-left mx-1 promo-book-blurb">
        <%= strip_tags(book.blurb) unless book.blurb.nil? %>
      </div>
      
    </div>
    <% end %>
  </div>
  
</div>