<%= promo_social %>
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h1>
      <%= title @promotion.title %> 
      <%= subject_title(params[:subject]) unless params[:subject].nil? %>
      </h1>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="social-shopping">
        <p class="text-lg-right social-icons">
          <span class='share s_twitter'></span>
          <span class='share s_facebook'></span>
          <span class='share s_tumblr'></span>
          <span class='share s_linkedin'></span>
          <span class='share s_pinterest'></span>
        </p>
        <% unless @promotion.pdf.file.nil? || @promotion.pdf_display_name.nil? %>
        <p class="text-lg-right">
          <%= link_to @promotion.pdf_display_name, @promotion.pdf.url %> 
          <span class="pdf">[PDF]</span>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3 col-md-12">
      <h2 class="hidden d-none">Subjects</h2>

      <ul class="d-none d-lg-block list-unstyled mt-0 ml-0 pl-3 subjects-list">
      <li class="promo-subject mb-2">
        <%= link_to "All Subjects", promotion_path(@promotion) %>
      </li>

      <% order_subjects(@subjects).each do |subject| %>
        <li class="promo-subject mb-2">
          <%= link_to subject_name(subject), promotion_path(@promotion, subject: subject[1]) %>
        </li>
      <% end unless @subjects.nil? %>
      </ul>

      <div class="d-block d-lg-none">
        <%= render "subjects" %>
      </div>

    </div>

    <div class="col-12 col-lg-9">
      <div class="row">
      <% unless @promotion.intro_text.nil? %>
      <div class="col-12 mb-4 promo_intro">
        <%= sanitize @promotion.intro_text.html_safe %>
      </div>
      <% end %>

      <% @books.each do |book| %>
        <div class="col-sm-6 col-xl-4 text-center mb-4 mt-md-4 promotion-book-list">
        
          <% unless book.cover_image.url.blank? %>
         
            <% if book.cover_image.url.include?(".jpg") || book.cover_image.url.include?(".jpeg") || book.cover_image.url.include?(".png") || book.cover_image.url.include?(".gif")%>
              <%= link_to book_path(book.book_id) do %>
               <div class="image-placeholder align-middle">
                <%= image_tag book.cover_image.url, alt: "" %>
                </div>
                <p class="mx-auto pt-2 book-title"><%= book.title unless book.title.nil? %></p>
              <% end %>
            <% end %>
          <% end %>

          <div class="text-left mx-1">
            <%= strip_tags(book.blurb) unless book.blurb.nil? %>
          </div>
          
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>