
<h1>Regions</h1>

<table width="100%" cellpadding="10">
  <thead>
    <tr>
      <th>Region</th>
      <th>Rights</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td width="30%" valign="top"><%= region.region %></td>
        <td width="50%"><%= region.rights.html_safe %></td>
        <td><%= link_to 'Show', region %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
