<nav class="navbar navbar-toggleable-md col-md-12">
	<%= button_tag("", 
								:class=>"navbar-toggler navbar-toggler-right", 
								:type=>"button",
								:'data-toggle'=>"collapse",
								:'data-target'=>"#navbarSupportedContent2",
								:'aria-controls'=>"navbarSupportedContent2",
								:'aria-expanded'=>"false",
								:'aria-label'=>"Toggle navigation") do
								%>
		    <span class="navbar-toggler-icon"></span>
		  <% end %>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent2">
		    <ul id="alphamenu" class="navbar-nav justify-content-center nav-fill">
		      <li class="nav-item alphalink">
		        <%= link_to "A", :controller=>"book", :id=>"a" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "B", :controller=>"book", :id=>"b" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "C", :controller=>"book", :id=>"c" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "D", :controller=>"book", :id=>"d" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "E", :controller=>"book", :id=>"e" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "F", :controller=>"book", :id=>"f" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "G", :controller=>"book", :id=>"g" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "H", :controller=>"book", :id=>"h" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "I", :controller=>"book", :id=>"i" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "J", :controller=>"book", :id=>"j" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "K", :controller=>"book", :id=>"k" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "L", :controller=>"book", :id=>"l" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "M", :controller=>"book", :id=>"m" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "N", :controller=>"book", :id=>"n" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "O", :controller=>"book", :id=>"o" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "P", :controller=>"book", :id=>"p" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "Q", :controller=>"book", :id=>"q" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "R", :controller=>"book", :id=>"r" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "S", :controller=>"book", :id=>"s" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "T", :controller=>"book", :id=>"t" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "U", :controller=>"book", :id=>"u" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "V", :controller=>"book", :id=>"v" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "W", :controller=>"book", :id=>"w" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "X", :controller=>"book", :id=>"x" %>
		      </li>
		      <li class="nav-item alphalink">
		        <%= link_to "Y", :controller=>"book", :id=>"y" %>
		      </li>
		      <li class="nav-item alphalink last">
		        <%= link_to "Z", :controller=>"book", :id=>"z" %>
		      </li>
		     </ul>
		   </div>
	</nav>