
<div id="header" class="row" style="background-color:#fff;">
  <div class="col">
  	<div class="container" style="padding-top:14px;">
	  	<div class="row">
		  	<div class="col-md-4">
		  		<img alt="Temple University Press logo" src="<%= asset_path 'banner2_top2.gif' %>" />
		  	</div>

		    <div class="col-md-8">
		    <%= form_tag(root_path+"search", method: "get", :class=>"form-inline my-2 my-lg-0", :id=>"search-block") do %>
				  <%= label_tag(:q, "Search for:", :class=>"element-invisible") %>
				  <%= text_field_tag(:q, nil, class: "form-control mr-sm-2", placeholder: "Search", size: "15") %>
				  <%= submit_tag("Search", id: "search-submit", class: "btn btn-outline-danger my-2 my-sm-0") %>
				<% end %>
				<div>
						<%= link_to image_tag("cart.png", :alt=>"shopping cart"), "https://cdcshoppingcart.uchicago.edu/Cart/Cart.aspx?PRESS=temple", :class=>"nav-link", :style=>"float:right;position: absolute;bottom: -21px;right: 21px;z-index:1;" %>
					</div>
  		</div>
	  	</div>
	  	<div class="row">
    <div class="col" style="padding:0;padding-top: 21px;">
		<nav class="navbar navbar-toggleable-md navbar-light" id="main-nav">
		  <%= button_tag("", 
		  								:class=>"navbar-toggler navbar-toggler-right", 
		  								:type=>"button",
		  								:'data-toggle'=>"collapse",
		  								:'data-target'=>"#navbarSupportedContent",
		  								:'aria-controls'=>"navbarSupportedContent",
		  								:'aria-expanded'=>"false",
		  								:'aria-label'=>"Toggle navigation") do
		  								%>
		    <span class="navbar-toggler-icon"></span>
		  <% end %>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent" role="navigation">
		    <ul class="navbar-nav justify-content-center nav-fill">
		      <li class="nav-item">
		        <%= link_to(root_path, :class=>"nav-link") do %>
		        	Home <span class="sr-only">(current)</span>
		        <% end %>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Our Books", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <%= link_to "Award Winning Books", root_path+"awards", :class=>"dropdown-item" %>
		          <%= link_to "Titles Index", root_path+"books", :class=>"dropdown-item" %>
		          <%= link_to "Subject Index", root_path+"subjects", :class=>"dropdown-item" %>
		          <%= link_to "Catalog Index", root_path+"catalogs", :class=>"dropdown-item" %>
		          <%= link_to "Series Listing", root_path+"series", :class=>"dropdown-item" %>
		          <%= link_to "Study Guides", root_path+"studyguides", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Journals", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		        <% get_journals.each do |j| %>
		          <%= link_to j.title, j.url, :class=>"dropdown-item" %>
		         <% end %>
		        </div>
		      </li>
					<li class="nav-item">
		        <%= link_to(root_path+"open-access", :class=>"nav-link") do %>
		        	NEH <span class="sr-only">(current)</span>
		        <% end %>
		      </li>
		      <li class="nav-item">
		        <%= link_to "Contact Us", "contact", :class=>"nav-link" %>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Orders", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <%= link_to "Ordering Information", root_path+"order", :class=>"dropdown-item" %>
		          <%= link_to "Payment Terms", root_path+"payment", :class=>"dropdown-item" %>
		          <%= link_to "Exam & Desk Copy Policy", root_path+"copy-policy", :class=>"dropdown-item" %>
		          <%= link_to "Sales Representatives", root_path+"sales-reps", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Media", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		        	<%= link_to "Book Reviews", root_path+"book-reviews", :class=>"dropdown-item" %>
		          <%= link_to "Conferences", root_path+"conferences", :class=>"dropdown-item" %>
		          <%= link_to "Event Calendar", root_path+"calendar", :class=>"dropdown-item" %>
		          <%= link_to "Request a Review Copy", root_path+"review-copy", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Press Info", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		        	<%= link_to "About the Press", root_path+"press-info", :class=>"dropdown-item" %>
		          <%= link_to "People at the Press", root_path+"people", :class=>"dropdown-item" %>
		          <%= link_to "Rights and Permissions", root_path+"rights", :class=>"dropdown-item" %>
		          <%= link_to "Foreign Rights Agents", root_path+"foreign-rights", :class=>"dropdown-item" %>
		          <%= link_to "Submissions", root_path+"submissions", :class=>"dropdown-item" %>
		          <%= link_to "About University Presses", root_path+"university-presses", :class=>"dropdown-item" %>
		          <%= link_to "Download Documents", root_path+"downloads", :class=>"dropdown-item" %>
		          <%= link_to "FAQ", root_path+"faq", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item">
		          <%= link_to "Links", root_path+"links", :class=>"nav-link" %>
		      </li>
		      
		    </ul>
		    </div>
		</nav>
		</div>
		</div>
    </div>

    </div>
    </div>