<!DOCTYPE html>
<html>
  <head>
    <title>Temple University Press</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="skip-link">
    <%= link_to "Skip to main content", "#skiplink_ada", :class => "element-invisible", :tabindex => "1" %>
    <%= link_to "Skip to site search", "#", :class => "element-invisible", :onclick => "document.getElementById('search-block').focus();", :tabindex => "2" %>
  </div>

  <div id="content" class="container" style="margin-bottom: 28px;">
  <div class="row">
  <div class="col">
  	<div id="header" class="container">
	  	<div class="row">
		  	<div class="col-md-4">
		  		<img alt="Temple University Press logo" src="<%= asset_path 'banner2_top2.gif' %>" />
		  	</div>

		    <div class="col-md-8">
		    <%= form_tag("/search", method: "get", :class=>"form-inline my-2 my-lg-0", :id=>"search-block") do %>
				  <%= label_tag(:q, "Search for:", :class=>"element-invisible") %>
				  <%= text_field_tag(:q, nil, class: "form-control mr-sm-2", placeholder: "Search", size: "15") %>
				  <%= submit_tag("Search", id: "search-submit", class: "btn btn-outline-danger my-2 my-sm-0") %>
				<% end %>
  		</div>
	  	</div>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col">
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="main-nav">
		  <%= button_tag("", 
		  								:class=>"navbar-toggler navbar-toggler-right", 
		  								:type=>"button",
		  								:'data-toggle'=>"collapse",
		  								:'data-target'=>"#navbarSupportedContent",
		  								:'aria-controls'=>"navbarSupportedContent",
		  								:'aria-expanded'=>"false",
		  								:'aria-label'=>"Toggle navigation") do
		  								%>
		    <span class="navbar-toggler-icon"></span>
		  <% end %>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent" role="navigation">
		    <ul class="navbar-nav justify-content-center nav-fill">
		      <li class="nav-item">
		        <%= link_to(root_path, :class=>"nav-link") do %>
		        	Home <span class="sr-only">(current)</span>
		        <% end %>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Our Books", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <%= link_to "Award Winning Books", "/awards", :class=>"dropdown-item" %>
		          <%= link_to "Titles Index", "/books", :class=>"dropdown-item" %>
		          <%= link_to "Subject Index", "/subjects", :class=>"dropdown-item" %>
		          <%= link_to "Catalog Index", "/catalogs", :class=>"dropdown-item" %>
		          <%= link_to "Series Listing", "/series", :class=>"dropdown-item" %>
		          <%= link_to "Study Guides", "/studyguides", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Journals", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <%= link_to "Commonwealth", "https://tupjournals.temple.edu/index.php/commonwealth/index", :class=>"dropdown-item" %>
		          <%= link_to "Kalfou", "https://tupjournals.temple.edu/index.php/kalfou/index", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item">
		        <%= link_to "Contact Us", "/contact", :class=>"nav-link" %>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Place an Order", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <%= link_to "Ordering Information", "/order", :class=>"dropdown-item" %>
		          <%= link_to "Payment Terms", "/payment", :class=>"dropdown-item" %>
		          <%= link_to "Exam & Desk Copy Policy", "/copy-policy", :class=>"dropdown-item" %>
		          <%= link_to "Sales Representatives", "/sales-reps", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Media", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		        	<%= link_to "Book Reviews", "/book-reviews", :class=>"dropdown-item" %>
		          <%= link_to "Conferences", "/conferences", :class=>"dropdown-item" %>
		          <%= link_to "Event Calendar", "/calendar", :class=>"dropdown-item" %>
		          <%= link_to "Request a Review Copy", "/review-copy", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <%= link_to "Press Info", 
								        "#", 
								        :class=>"nav-link dropdown-toggle", 
								        :id=>"navbarDropdownMenuLink", 
								        :'data-toggle'=>"dropdown", 
								        :'aria-haspopup'=>"true", 
								        :'aria-expanded'=>"false" 
								        %>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		        	<%= link_to "About the Press", "/press-info", :class=>"dropdown-item" %>
		          <%= link_to "People at the Press", "/people", :class=>"dropdown-item" %>
		          <%= link_to "Rights and Permissions", "/rights", :class=>"dropdown-item" %>
		          <%= link_to "Foreign Rights Agents", "/foreign-rights", :class=>"dropdown-item" %>
		          <%= link_to "Submissions", "/submissions", :class=>"dropdown-item" %>
		          <%= link_to "About University Presses", "/university-presses", :class=>"dropdown-item" %>
		          <%= link_to "Download Documents", "/downloads", :class=>"dropdown-item" %>
		          <%= link_to "FAQ", "/faq", :class=>"dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item">
		          <%= link_to "Links", "/links", :class=>"nav-link" %>
		      </li>
		      <li class="nav-item">
						<%= link_to image_tag("cart.png", :alt=>"shopping cart"), "https://cdcshoppingcart.uchicago.edu/Cart/Cart.aspx?PRESS=temple", :class=>"nav-link", :style=>"float:right;" %>
					</li>
		    </ul>
		    </div>
		</nav>
		</div>
		</div>
		<a href="#" name="skiplink_ada" id="skiplink_ada"></a>

		<div class="container">
		<% flash.each do |key, value| %>
		   <div class="flash <%= key %>"><%= value %></div>
		<% end %>

    	<%= yield %>

    </div>

    </div>
    <%= render "footer.html.erb" %>
  </body>
</html>
